.JoinUs {
    width: 95%;
    padding: 2em;
    padding-top: 1em;
    margin: 0px auto 0px 60px;
}
.JoinUsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.JoinUsBody{
width: 90%;}
.JoinUsBody h4{
    padding-top: 1em;
    color: var(--font_h4);
}
.JoinUsBanner{
    background-color: darkslategray;
    width: 300px;
    height: 600px;
    margin-left: 2em;
}
.JoinUsBody h5{
    padding-left: 2em;
    font-weight: bold;
}
.JoinUsBody a{
    color: var(--font_a_active);
    font-weight: normal;
}
.FormWrapper{
    min-height: 350px;
}
.FormContainer{
display: grid;
grid-template-areas: 'name team'
                     'college email'
                     'comments comments'
                     '. submit';
padding:  2em;
grid-row-gap:1.25em;
}
.FormContainer input::placeholder{
    color: black;
    opacity: 0.85;
}
.FormContainer textarea::placeholder{
    color: black;
    opacity: 0.85;
}
.FormContainer img{
    height: 25px;
    transform: translateY(5.5px);
    padding-right: 0.5em;
}
.FormContainer input{
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid dimgray;
    height: 30px;
    padding: 10px;
    width: 20em;
}
.FormContainer textarea{
    height: 150px;
    width: 100%;
    padding: 1em;
    border: 1px dimgray solid;
}
.NameContainer{
    grid-area: name;
}
.TeamContainer{
    grid-area: team;
}
.CollegeContainer{
    grid-area: college;
}
.MailContainer{
    grid-area: email;
}
.CommentsContainer{
    grid-area: comments;
}
.SendButton{
    grid-area: submit;
    background: var(--button_color) ;
    border: none;
    color: white;
    height: 40px;
    width: 140px;
    font-size: 1.2em;
    justify-self: right;
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
}
.SendButton:hover{
    
    transform: scale(1.05);
    -webkit-box-shadow: 0px 22px 17px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 22px 17px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 17px -19px rgba(0,0,0,0.75);
    background: var(--button_color_active) ;
}

.SentWrapper{
    display: block;
    margin-top: 2em ;
}
 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){

.JoinUs {
    width: 100%;
    padding: 1em 0.5em 0em 0.75em;
    margin: 0px auto 0px 0px;
}
.JoinUsBanner{
    width: 275px;
    min-width: 275px;
    height: 600px;
    margin-left: 1em;
}
.JoinUsBody{
    width: 70%;}
}
.JoinUsBody p {
    padding-left: 0.5em;
    padding-top: 0.25em;
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    .JoinUs {
        width: 100%;
        padding: 1em 0.5em 0em 0.75em;
        margin: 0px auto 0px 0px;
    }
    .JoinUsBanner{
        display: none;
    }
    .JoinUsBody{
        width: 100%;
    padding: 1em;
    }
    .JoinUsBody p {
    padding: 1em;    
}
    .FormContainer{
        display: grid;
        grid-template-areas: 'name team'
                             'college email'
                             'comments comments'
                             '. submit';
        padding:  1.25em 0.5em;
        grid-row-gap:1.5em;
        }

        .FormContainer input{
            border: none;
            background-color: transparent;
            border-bottom: 1.5px solid dimgray;
            height: 30px;
            padding: 10px;
            width: 12em;
        }
}
/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .JoinUs {
        width: 100%;
        padding: 1em 0.5em 0em 0.75em;
        margin: 0px auto 0px 0px;
    }
    .JoinUsBanner{
        display: none;
    }
    .JoinUsBody{
        width: 100%;
    padding: 0.25em;
    }
    .JoinUsBody p {
    padding: 1em;    
}
    .FormContainer{
        display: flex;
        flex-direction: column;
        padding:  1.05em 0.5em;
        grid-row-gap:1.5em;
        }

        .FormContainer input{
            border: none;
            background-color: transparent;
            border-bottom: 1.5px solid dimgray;
            height: 30px;
            padding: 10px;
            width: 12em;
        }
}
