.ArticleContainer{
    display: grid;
    grid-template-areas: 'art_title . .'
                         'art_sub . . '
                         'art_img . art_body';
    grid-template-rows: 0.25fr 0.1fr 0.65fr;
    grid-template-columns: 0.2fr 2rem 0.8fr;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
    
}

.ArticleContainer h4{
grid-area: art_title;
}
.ArticleContainer h6{
grid-area: art_sub;
margin-top: -1em;
}
.ArticleContainer img{
    grid-area: art_img;
    height: 200px;
    width: auto;
    padding: 1em;
}
.ArticleContainer p{
    grid-area: art_body;
    text-align: justify;
    line-height: normal;
} 

/* TODO: Tablet version */
@media only screen and (max-width: 1150px) and (min-width:800px){
    .ArticleContainer img{
        grid-area: art_img;
        height: 175px;
        width: auto;
        padding: 0em;
        padding-right: 0.5em;
    }
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .ArticleContainer img{
        grid-area: art_img;
        height: auto;
        width: 100%;
        padding: 0em;
        padding-right: 0.5em;
    }
    .ArticleContainer{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .ArticleContainer h4{
        padding-top: 0.5em;
    }
    .ArticleContainer h6{
        margin-top: 0;
        padding: 0.75em;
    }
}