.projectContainer{
    padding: 1em;
    display: grid;
    grid-template-areas: 'p_title p_title . '
                        'p_img p_body p_body'
                        'p_img p_coord p_coord';
    
    width: 100%;
    margin: auto;
    border-bottom: 1px solid darkslategray;
    align-items: center;
    
}
.projectContainer h3{
    grid-area: p_title;
    font-size: 2.5rem;
}

.projectContainer img{
    width: 450px;
    height: auto;
    grid-area: p_img;
}
.projectContainer p{
    grid-area: p_body;
    padding: 1em ;
    padding-bottom: 0px;
    text-align: justify;
}
.projectContainer span{
    font-weight: bold;
    font-style: italic;
}
.projectContainer ul{
    grid-area: p_coord;
    padding: 1em ;
    padding-left: 1.5em;
}
.projectContainer a{
    color: var(--font_a_active);
}
 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){
    .projectContainer{
        padding: 1em;
        display: grid;
        grid-template-areas: 'p_title   '
                            'p_img   '
                            'p_body  '
                            'p_coord';
        
        width: 100%;
        margin: auto;
        border-bottom: 1px solid darkslategray;
        align-items: center;
        
    }
    .projectContainer img{
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        padding: 1em;
    }
    .projectContainer h3{
        font-size: inherit;
    }
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    .projectContainer{
        padding: 0.5em;
        display: grid;
        grid-template-areas: 'p_title   '
                            'p_img   '
                            'p_body  '
                            'p_coord';
        
        width: 100%;
        margin: auto;
        border-bottom: 1px solid darkslategray;
        align-items: center;
        
    }
    .projectContainer img{
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
        padding: 1em;
    }
    .projectContainer h3{
        font-size: inherit;
    }
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .projectContainer{
        padding: 0.5em;
        display: grid;
        grid-template-areas: 'p_title   '
                            'p_img   '
                            'p_body  '
                            'p_coord';
        
        width: 100%;
        margin: auto;
        border-bottom: 1px solid darkslategray;
        align-items: center;
        
    }
    .projectContainer img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        padding: 1em;
    }
    .projectContainer h3{
        font-size: 1.3em;
    }
}