.Footer{
    margin-top: 3em;
    width: 100vw;
    height: 10em;
    background: url('../../../static/images/footer/bg0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;

}
.SocialMediaContainer{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto auto;
    padding: 2em;
    align-content: center;

}
.SocialMediaContainer img{
    height: 60px;
    width: auto;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}
.SocialMediaContainer img:hover{
    transform: scale(1.15);
}

.CitationLink{
    color:white;
    bottom: 0;
    padding-left: 3em;    
    width: 100vw;
    height: 1.5em;
    background-color: var(--citation_background);
    justify-self: last baseline;
    position: relative;
}
.CitationLink a{
    color: var(--font_a_active);
    text-decoration: none;

}
.CitationLink span{

    position: absolute;
    right: 0;
    padding-right: 1.5em;
}

.aerospace_logo {
    height: 200px;
    display: block;
    margin: auto;
}