.Footer{
    margin-top: 3em;
    width: 100vw;
    height: 8.5em;
    background: url('../../../static/images/footer/bg0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 52%;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;

}
.SocialMediaContainer{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto auto;
    padding: 2em;
    align-content: center;

}
.SocialMediaContainer img{
    height: 60px;
    width: auto;
    padding: 0.5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}
.SocialMediaContainer img:hover{
    transform: scale(1.15);
}
.FooterFoterWrapper{
    height: auto;
    padding: 0.5em;    
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.5em;
}

.CitationLink{
    color:white;
    font-size: 1em !important;
    background-color: var(--citation_background);
}
.CitationLink a{
    color: var(--font_a_active);
    text-decoration: none;

}
.Copyright{
    color: white;
    font-size: 0.7em !important;
    font-weight: normal;
    padding-right: 1em;
}
.logosWrapper {
    display: flex;
    flex-direction: row;
    margin-right: 2.5em;

}
.aerospace_logo {
    height: 125px;
    display: block;
    margin: auto;
    filter: invert(1);
}
.senescyt_logo {
    height: 125px;
    display: block;
    margin: auto;
    filter: grayscale(100)
}


 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){

}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    .Footer{
        height: 8.5em;
        background-position-y: 48%;    
    }
    .SocialMediaContainer{
        width: 80vw;
        padding: 1em;

    }
    .SocialMediaContainer img{
        height: 45px;
        padding: 0.5em;
    }
    .aerospace_logo {
        height: 125px;
        display: block;
        margin: auto;
    }
    .Copyright{
        font-size: 0.8em;
        padding-right: 1em;
    }
    .FooterFoterWrapper{    
        justify-content: space-evenly;
        row-gap: 0.5em;
    }
    
    
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .Footer{
        height: auto;
        background-size: cover;
        background-position-y: top;    
        display: flex;
        flex-direction: column;
    }
    .SocialMediaContainer{
        width: 100vw;
        padding: 1em;
        flex-wrap:  wrap;
    }
    .SocialMediaContainer img{
        height: 45px;
        padding: 0.75em;
        margin: 0.25em 0.35em;
    }
    .aerospace_logo {
        height: 125px;
        display: block;
        margin: auto;
    }
    .Copyright {
        font-size: 0.9em;
        padding-right: 1em;
    }
    .FooterFoterWrapper{
        height: auto;

        padding: 0.5em;    
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: left;
        justify-content: left;
        row-gap: 0.5em;
    }
    .logosWrapper{
    
        margin: auto;
    }
    .logosWrapper img{
        height: 92px;

    }

}