.LandingBackground{
    width: 100vw;
    height: 100vh;
    background:     linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.25)
      ),url(../../../static/images/Landings/Landing2.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-top: -5em;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 50px;
  height: 50px;
  top: 85%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
}

.arrow:before {
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }

  100% {
    opacity: 0;
    
    transform: translate(5px, 5px);
  }
}
 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){

}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){  
  .arrow {

    top: 75%;

  }
  
}

/* TODO: Mobile version */
@media only screen and (max-width: 200px){
    
}