.LandingBackground{
    width: 100vw;
    height: 100vh;
    background:     linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.25)
      ),url(../../../static/images/Landings/Landing3.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-top: -5em;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: hidden;

}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 50px;
  height: 50px;
  top: 85%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
}

.arrow:before {
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}


.LeftCornerText{
  position: absolute;
  left: 0px;
  bottom: 10%;
  font-size: 2.5em;
  font-weight: 900;

}
.textContainer{
  position: relative;
  display: inline-block;
}
.textContainer span{
  display: inline-block;
}
.firstline{
  color: white;
}
.secondline{
  color: var(--font_a_active); 
}

.firstlineback{
  color: white;
  margin-left: 1.5em;

}
.secondlineback{
  color: white; 
  margin-left: 1.5em;

}



.RightCornerText{
  position: absolute;
  right: 1em;
  bottom: 2.5%;
  color: white;
  font-size: 0.8em;

}
.RightCornerText a{
  color: black;
}


@keyframes arrow {
  0% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }

  100% {
    opacity: 0;
    
    transform: translate(5px, 5px);
  }
}
 /* TODO: Tablet version */
 @media only screen and (min-width:500px){
  .LandingBackground{
    width: 100vw;
    height: 100vh;
    background:     linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.25)
      ),url(../../../static/images/Landings/Landing3.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-top: -5em;
  position: relative;
}


}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){  
  .arrow {
    top: 85%;
  }
  .RightCornerText{
    bottom: 5%;
  }
  .LeftCornerText{
    left: -40px;
    font-size: 2.25em;
  }
  .secondlineback{
    margin-top: 0.75em;
  
  }
}


/* TODO: Mobile version */
@media only screen and (max-width: 499px){
  .LandingBackground{
    width: 100vw;
    height: 100vh;
    background:     linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.25)
      ),url(../../../static/images/Landings/LandingMobile2.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}
.arrow {
  width: 20px;
  height: 20px;
  top: 85%;
  margin: -0px 0 0 30%;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 4px #fff solid;
  border-bottom: 4px #fff solid;
}

.arrow:before {
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -10px 0 0 -10px;

  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}  
  .RightCornerText{
    bottom: 5%;
    font-size: 0.6em;

  }
  .RightCornerText{
    bottom: 5%;
  }
  .LeftCornerText{
    left: -14.5%;
    bottom: 12%;
    font-size: 2em;
    text-align: left;

  }
  .secondlineback{
    margin-top: 0.75em;
  
  }
}
@media only screen and (max-width: 499px) and (min-width:300px){

  .LeftCornerText{
    left: -7.5%;


  }
}