.HeaderNormal{
    height: 60px;
    width: 100%;
    background-color: var(--Mobileheader_background);
    position: sticky;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.75);
    z-index: 999;
} 
.LogoContainer{
     display: flex;
     height: 60px; 
     flex-direction: row;
     justify-content: left;
     align-items: center;
 }
 .LogoBrand {
     color: whitesmoke;
     opacity: 1;
     font-size: 1.5em;
     text-align: left;
 }
 .LogoSpan {
     color: var(--font_h1_span);
 }
 .LogoContainer img{
    height: 70px;
    width: auto;
    filter: invert(100%);
 }

 .MenuButton {
    display: block;
    width: 30px;
    margin-left: auto;
    margin-right: 1em;
  }
  
  .MenuButton:before,
  .MenuButton:after {
    background: linear-gradient(31deg, #f38300, #f90000);    background-size: 400% 400%;

    -webkit-animation: ButtonBackground 6s ease infinite;
    -moz-animation: ButtonBackground 6s ease infinite;
    -o-animation: ButtonBackground 6s ease infinite;
    animation: ButtonBackground 6s ease infinite;  
    
    content: '';
    display: block;
    height: 3px;
    transition: all 200ms ease-in-out;
  }
  .LinkLanguage{
      color: var(--font_a);
  }
  @-webkit-keyframes ButtonBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes ButtonBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes ButtonBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes ButtonBackground {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.MenuButton:before {
    box-shadow: 0 10px 0 #fff;
    margin-bottom: 16px;
  }
  .MenuButtonActive:before {
    box-shadow: 0 0 0 var(--MobileHeaderMenu_background);
    background-color: var(--MobileHeaderMenu_background);
    transform: translateY(9px) rotate(45deg);
  }
  .MenuButtonActive:after{
    background-color: var(--MobileHeaderMenu_background);
    transform: translateY(-10px) rotate(-45deg);
  }
  .LinkContainer div{
      width: 100%;
      padding: 1em 0em;
      text-align: center;
      transform: translateX(-105%);
      background-color: var(--MobileHeaderMenu_background);
    border-top: 0.5px solid gray;
  }
  .LinkWrapper0{
      transition: all 0.5s ease-in-out 0s;      
  }
  .LinkWrapper1{
    transition: all 0.5s ease-in-out 0.1s;
}
.LinkWrapper2{
    transition: all 0.5s ease-in-out 0.2s;
    margin-top: -1px;
}
.LinkWrapper3{
    transition: all 0.5s ease-in-out 0.3s;
}
.LinkContainer div {
    background:  #000000;    
}
.LinkWrapper4{
    transition: all 0.5s ease-in-out 0.4s;
    margin-top: -1px;
    background: #b80000 !important;    
}
 /* TODO: Tablet version */
 @media only screen and (min-width:800px){
    .HeaderNormal{
        display: none;
    }
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    
    .LogoBrand {
        font-size: 1.05rem;
    }
    .LogoContainer img{
       height: 50px;
    }
}