<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Red Ecuatoriana Aeroespacial | Candidato</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400&display=swap" rel="stylesheet">
</head>
<body>
<div class="bodybox">
<header>
    <h1 style='display:block; text-align:center;' >Red Ecuatoriana Aeroespacial</h1>
</header>
<br>

<main>
    <img src="http://aerospaceec.pythonanywhere.com/static/img/REA_Logo.png" alt='Red Ecuatoriana Aeroespacial' style='width:100px; height:auto; display: block;margin: 1em auto;'>
    <h3 style='display:block; text-align:center;'>Petición de ingreso</h3>

    {% autoescape off %}
    Saludos,
    </br>
    La Red Ecuatoriana Aeroespacial ha recibido una nueva petición de ingreso mediante el sitio web.

    <h4>Datos</h4>
    <ul>
        <li>Nombre: Vicente</li>
        <li>Universidad: {{college}}</li>
        <li>Equipo: {{team}}</li>
        <li>Comentarios: {{comments}}</li>

    </ul>
{% endautoescape %}
</main>
<div class="blankspace">

</div>
<footer>
            <p> Mensaje enviado desde </p>
             <a style='display:block; text-align:center;' href="https://redaeroespacial.com/">https://wwww.redaeroespacial.com</a>

</footer>
</div>
</body>
</html>
