.ProjectsContainer {
    width: 95%;
    padding: 2em;
    padding-top: 1em;
    margin: 0px auto 0px 60px;
}
.ProjectsContainer h1{
    color: dimgrey;
}

 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){
    .ProjectsContainer {
        width: 100%;
        padding: 1em;
        margin: 0px auto 0px 0px;
    }
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    .ProjectsContainer {
        width: 100%;
        padding: 0.5em;
        margin: 0px auto 0px 0px;
    }
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .ProjectsContainer {
        width: 100%;
        padding: 0.5em;
        margin: 0px auto 0px 0px;
    }
    .ProjectsContainer h2{
    font-size: 1.65em;
    }
}