
.HeaderNormal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5em;
    z-index: 90999;
}
.headerInActive {
	background-color: transparent;
}
.HeaderActive{
	
	background: linear-gradient(56deg, #1a1a1a, #090909);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

/*TODO Logo Constainer */

.LogoContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.LogoImg{
    height: 100px;
    width: auto;
    transition: all 0.25s ease-in-out 0s;

}
.LogoBrand{
    line-height: normal;
	align-self: center;
	opacity: 0;
	transition: all 0.25s ease-in-out 0s;
}

.LogoSpan{
    color:var(--font_h1_span);
    font-weight: bold;
    font-size: 1.15em;
}

/*TODO Links */
.LinkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    padding-right: 1em;
}
.active{
    color: var(--font_a_active);

}
.Link{
	padding: 10px;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
	display: inline-block;
	margin: 15px 25px;
    outline: none;
    text-decoration: none;
    font-size: 0.95em;
}

.Link:hover,
.Link:focus {
    color: var(--font_a_active);
    transition: color 0.2s linear;
}

 /* TODO: Tablet version */
 @media only screen and (max-width: 1150px) and (min-width:800px){
    .LinkContainer{
        flex-grow: 0;
        padding-right: 0em;
    }
    .Link{
        padding: 2px;
        margin: 15px 24px;
        outline: none;
        text-decoration: none;
        font-size: 0.9em;
    }
    .LogoImg{
        height: 90px;
        width: auto;
        transition: all 0.25s ease-in-out 0s;
    
    }
}

/* TODO: XL Mobile version */
@media only screen and (max-width: 799px) and (min-width:500px){
    .HeaderNormal{
        display: none;
    }
}

/* TODO: Mobile version */
@media only screen and (max-width: 499px){
    .HeaderNormal{
        display: none;
    }
}